.msg-scs {
  width: 383px;
  height: 64px;
  border-bottom: 2px solid #b5ea7c;
  border-radius: 4px;
  padding: 20px;
}
.msg-err {
  width: 383px;
  height: 64px;
  border-bottom: 2px solid #ffbebe;
  border-radius: 4px;
  padding: 20px;
}

.form {
  display: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 36px 156px 230px;
  width: 360px;
  height: 78px;
}
/* .delay {
  display: flex;
  justify-content: center;
  align-items: center;
} */
